name: Build Artifacts

on:
  workflow_dispatch:
    inputs:
      wine_version:
        description: "Select the wine version to pin the build to"
        required: true
        default: ''
        type: string
      lug_rev:
        description: "Select the lug revision"
        required: true
        default: '1'
        type: string
  workflow_call:
    inputs:
      wine_version:
        description: "Select the wine version to pin the build to"
        required: true
        default: ''
        type: string
      lug_rev:
        description: "Select the lug revision"
        required: true
        default: '1'
        type: string
env:
  WINE_VERSION: ${{ inputs.wine_version || github.event.inputs.wine_version }}
  LUG_REV: ${{ inputs.lug_rev || github.event.inputs.lug_rev }}
jobs:
  build_vkd3d_proton:
    uses: "./.github/workflows/build-vkd3d-proton.yml"
  build:
    needs: build_vkd3d_proton
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
            image: ubuntu:24.04
            preset: default
          - os: ubuntu
            image: ubuntu:24.04
            preset: staging-default
    container:
      image: ${{ matrix.image }}
    env:
      DEBIAN_FRONTEND: noninteractive
      XDG_CACHE_HOME: /tmp/.cache
      TZ: UTC
    steps:
      - name: Prepare Container
        shell: bash {0}
        run: |
          if [[ "${{ matrix.os }}" == "ubuntu" ]]; then
            apt-get update
            apt-get install -y git aptitude sudo curl libopenxr-dev
            mkdir -p /usr/local/include/linux && curl -o /usr/local/include/linux/ntsync.h -fs --retry 5 https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/plain/include/uapi/linux/ntsync.h && echo "Latest ntsync.h downloaded!"
          elif [[ "${{ matrix.os }}" == "arch" ]]; then
            pacman -Syu --noconfirm git base-devel sudo git freetype2 graphite harfbuzz libpng fontconfig jack2 openxr
            useradd user -G wheel && echo "user ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
            chown user -R .
          fi
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Download vkd3d-proton artifact
        uses: actions/download-artifact@v4
        with:
          name: vkd3d-proton-build
          path: ./vkd3d-proton-build
      - name: Extract vkd3d-proton artifact
        shell: bash {0}
        run: |
          if [ -f ./vkd3d-proton-build/vkd3d-proton.tar.gz ]; then
            tar -xzf ./vkd3d-proton-build/vkd3d-proton.tar.gz --one-top-level
          else
            echo "No vkd3d artifact found; continuing without it"
          fi
      - name: Compilation
        shell: bash {0}
        run: |
          echo "$WINE_VERSION" "$LUG_REV"
          ./build-lug-wine.sh --preset "${{ matrix.preset }}" --version "$WINE_VERSION" --revision "$LUG_REV"
      - name: Upload Archive
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.os }}-${{ matrix.preset }}-build"
          path: ./output
