name: CI Testing
on:
  push:
      paths-ignore:
        - 'README.md'
  pull_request:

jobs:
  ci_run:
    uses: starcitizen-lug/lug-wine/.github/workflows/build-artifacts.yml@main
    with:
      wine_version: '10.12'
      lug_rev: '1'