name: CI Testing
on:
  schedule:
    - cron: "0 10 * * 5" # friday at 10:00 UTC
  push:
      branches:
      - main
      paths-ignore:
        - 'README.md'
        - '.github/workflows/**'
  pull_request:
  workflow_dispatch:
jobs:
  ci_run:
    uses: starcitizen-lug/lug-wine/.github/workflows/build-artifacts.yml@main
    with:
      wine_version: ''
      lug_rev: '1'
